$color-background: #f3f4f6;
$color-table-background: #ffffff;
$color-select-background: #e0e7eb;
$color-button-background: #e0e2e6;

$color-title-text: #435370;
$color-button-text: #435370;
$color-edit-text: #159649;
$color-delete-text: #e51156;

$color-edit-hover: #daf9e3;
$color-delete-hover: #fadbe4;
